<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

        <th:block th:fragment="content">

            <h1 class="mt-4">Guestbook Register Page</h1>

            <form th:action="@{/guestbook/register}" th:method="post">
                <!-- 각 인풋 태그에는 GuestbookDTO에 수집될 데이터이므로 변수명을 일치시켜준다. -->
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" placeholder="Enter Title">
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <textarea class="form-control" rows="5" name="content"></textarea>
                </div>
                <div class="form-group">
                    <label>Writer</label>
                    <textarea class="form-control" name="writer" placeholder="Enter Writer"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </th:block>

    </th:block>